.infoCardHeadline {
  font-family: serif;
  font-size: 2.25rem;
  font-weight: normal;
  color: gray;
  border: 2px solid black;
  padding: 24px;
}

.infoCardCallActionContainer :global(.vtex-button) {
  color: white;
  background-color: gray;
  border: transparent;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
  color: gray;
  background-color: white;
  border: transparent;
}

.infoCardContainer--vintage {
  background-color: #edcfd1;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.infoCardHeadline--vintage {
  color: black;
  font-weight: bold;
}

.infoCardContainer--metal {
  background-color: #e1e1e1;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.infoCardHeadline--metal {
  color: black;
  font-weight: bold;
}
